<div class="imdb">
    <span class="imdbRatingPlugin" data-user="ur62892685" data-title="{{imdb}}" data-style="p4"><a href="https://www.imdb.com/title/{{imdb}}" target="_blank"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png" alt="{{title}} ({{year}}) on IMDb" {{action "trackClick" movieId preventDefault=false}}/>
</a></span>
    <!-- IMDB Script -->
</div>
